.blog {
  max-width: 45.2rem;
  background-color: white;
  border-radius: 2rem;
  padding: 2.4rem;
}

.imgBox>img {
  width: 100%;
  border-radius: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 1.6rem 0 2.4rem 0;
}

.title {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.description {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.linkBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  font-weight: 500;
  width: 15.2rem;
  padding: 1.4rem 0 1rem 0;
}